@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.qna {
    width: 80%;
    text-align: center;
    display: none;
    font-family: 'MaplestoryOTFLight';
}
.qBox {
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    padding-bottom: 30px;
}
.answerBox {
    margin: auto;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 30px;
}
.answerList{
    font-family: 'MaplestoryOTFLight';
    display: none;
    vertical-align: middle;
    margin: auto;
    padding:  0.5rem 1rem;
    font-size: 1rem;
    width: auto;
    appearance: none;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: yellow;
    color: black;
    margin-bottom: 20px;
}
.answerList span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.answerList span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.answerList:active,
.answerList:hover,
.answerList:focus {
    background: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    outline: 0;
}
.answerList:hover span {
    padding-right: 25px;
}
.answerList:hover span::after {
    opacity: 1;
    right: 0;
}
.answerList:disabled{
    opacity: 0.5;
}
.status {
    height: 20px;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    background-color: whitesmoke;
}
.statusBar {
    height: 100%;
    background-color: skyblue;
    border-radius: 20px;
}