@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
UL {
    margin: 0;
    list-style-type: none;
}
#filter-list {
    display: inline-block;
    border: 1px solid #00f8ff;
    border-radius: 30px;
    padding: 4px;
    margin: 0 0 60px;
}
#filter-list li {
    display: inline-block;
    font-size: 16px;
    color: #00f8ff;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    padding: 0 20px;
    min-width: 130px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#filter-list li.current,
#filter-list li:hover{
    background-color: #00f8ff;
    color: #fff;
}
.container {
    margin: 40px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'BMJUA';
}
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3 {
    font-size:  3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .albumbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .albumbox .album {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .albumbox .album img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container .albumbox .album img:hover {
    transform: scale(1.05);
}
@media only screen and (max-width : 769px) {
    .container .albumbox {
        flex-direction: column;
    }
    .container .albumbox .album {
        width: 100%;
    }
}
@media only screen and (max-width : 643px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h3 {
        font-size: rem;
    }
}
/* section {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 40px auto;
}
section ul {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #03a9f4;
    color: #fff;
}
.product {
    flex-wrap: wrap;
    display: flex;
}
.product .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}
.product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: scale-down;
    width: 100%; 
}*/