@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.filter-list {
    display: inline-block;
    border: 1px solid #EADEB8;
    border-radius: 30px;
    padding: 4px;
    margin: 0 0 60px;
}
.filter-list .button {
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    color: #EADEB8;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    padding: 0 20px;
    min-width: 130px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: transparent;
}
.filter-list .button.current,
.filter-list .button:hover{
    background-color: #EADEB8;
    color: #fff;
}
.container {
    margin: 40px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'BMJUA';
}
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3 {
    color: #EADEB8;
    font-size:  3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #EADEB8;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .albumbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .albumbox .album {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .albumbox .album img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container .albumbox .album img:hover {
    transform: scale(1.05);
}
@media only screen and (max-width : 769px) {
    .container .albumbox {
        flex-direction: column;
    }
    .container .albumbox .album {
        width: 100%;
    }
}
@media only screen and (max-width : 643px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h3 {
        font-size: rem;
    }
}
.filterDiv.show {
    display: flex;
}
.filterDiv {
  float: left;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
  object-fit: scale-down;
}
.button {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: all .5s ease;
}
.button:hover {
    background-color: #EADEB8;
}
.button.active {
    background-color: #EADEB8;
    color: white;
}