@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn::before,
.menu-btn::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn::before {
    transform: translateY(-16px);
}
.menu-btn::after {
    transform: translateY(16px);
}

.menu.open .menu-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu.open .menu-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu.open .menu-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
.container {
    margin: 40px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'BMJUA';
}
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3 {
    font-size:  3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container .box .dream img:hover {
    transform: scale(1.05);
}
@media only screen and (max-width : 769px) {
    .container .box {
        flex-direction: column;
    }
    .container .box .dream {
        width: 100%;
    }
}
@media only screen and (max-width : 643px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h3 {
        font-size: rem;
    }
}
/* section {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 40px auto;
}
section ul {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #03a9f4;
    color: #fff;
}
.product {
    flex-wrap: wrap;
    display: flex;
}
.product .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}
.product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: scale-down;
    width: 100%; 
}*/